In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=["row1","row2","row3","row4","row5"],columns=["col1","col2","col3","col4"])

In [ ]:
df.head()

In [ ]:
df.to_csv("Test1.csv")

In [ ]:
#check is there any null records

df.isnull().sum()

In [ ]:
df.loc['row1'] # Get row1

In [ ]:
df['col1']  # Get col1

In [ ]:
df[ ['col1','col2'] ] # Get multiple cols

In [ ]:
type(df.loc['row1'])

In [ ]:
#Get count of each value
df.loc['row1'].value_counts()

In [ ]:
#Get unique value
df.loc['row1'].unique()

In [ ]:
df.iloc[:,1:]

In [ ]:
type(df.iloc[:,1:])

In [ ]:
#convert df to array

df.iloc[:,1:].values

In [ ]:
#Read CSV
df = pd.read_csv("mercedesbenz.csv")

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df['X1'].value_counts()

# CSV

In [22]:
from io import StringIO, BytesIO

In [43]:
data=('col1,col2,col3\n'
      'x,y,1\n'
      'a,b,2\n'
     'c,d,3\n')

In [38]:
type(data)

str

In [46]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [58]:
df = pd.read_csv(StringIO(data),usecols=['col1','col3'])

In [59]:
df.to_csv('test1.csv')

In [61]:
data=('a,b,c\n'
      '1,2,3\n'
      '4,5,6\n'
     '7,8,9\n')

In [63]:
pd.read_csv(StringIO(data))

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

# Play with Datatypes

In [69]:
df = pd.read_csv(StringIO(data),dtype=object)

In [72]:
df['a']

0    1
1    4
2    7
Name: a, dtype: object

In [74]:
df = pd.read_csv(StringIO(data),dtype=int)

In [76]:
df['a']

0    1
1    4
2    7
Name: a, dtype: int64

In [78]:
df = pd.read_csv(StringIO(data),dtype=float)

In [80]:
df['a']

0    1.0
1    4.0
2    7.0
Name: a, dtype: float64

In [82]:
df = pd.read_csv(StringIO(data),dtype={'a':int,'b':float,'c':object})

In [93]:
df

   a    b  c
0  1  2.0  3
1  4  5.0  6
2  7  8.0  9

In [96]:
df.dtypes

a      int64
b    float64
c     object
dtype: object

In [89]:
df['a']

0    1
1    4
2    7
Name: a, dtype: int64

In [91]:
df['b']

0    2.0
1    5.0
2    8.0
Name: b, dtype: float64

In [92]:
df['c']

0    3
1    6
2    9
Name: c, dtype: object

# Play with Index

In [106]:
data=('index,a,b\n'
      '1,2,3\n'
      '4,5,6\n'
     '7,8,9\n')

In [110]:
df = pd.read_csv(StringIO(data))

In [112]:
df

   index  a  b
0      1  2  3
1      4  5  6
2      7  8  9

In [115]:
df = pd.read_csv(StringIO(data),index_col=0)

In [116]:
df

   index  b
a
2      1  3
5      4  6
8      7  9

In [120]:
df = pd.read_csv(StringIO(data),index_col=1)

In [121]:
df

   index  b
a
2      1  3
5      4  6
8      7  9

In [125]:
data=('index,a,b\n'
      '1,2,3,\n'
      '4,5,6,\n'
     '7,8,9,\n')

### index_col=false

In [126]:
df = pd.read_csv(StringIO(data))

In [128]:
df

   index  a   b
1      2  3 NaN
4      5  6 NaN
7      8  9 NaN

In [131]:
df = pd.read_csv(StringIO(data),index_col=False)

In [132]:
df

   index  a  b
0      1  2  3
1      4  5  6
2      7  8  9