## Mlutivariate Regression  
#### Equation: y = m1 * x1 + m2 * x2 + m3 * x3 + b

In [32]:
import pandas as pd
import matplotlib as plt
from sklearn import linear_model
%matplotlib inline

In [9]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

## Find Median to fill NA values

In [25]:
import math
median_bedrooms = df.bedrooms.median()
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [27]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']], df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
reg.predict([[3300,3,20]])

array([596661.34233561])

In [38]:
m = reg.coef_
m #m = [m1,m2,m3]

array([  112.06244194, 23388.88007794, -3231.71790863])

In [40]:
b = reg.intercept_
b

221323.00186540408

In [45]:
y = m[0] * 3300 +  m[1] * 3 + m[2] * 20 + b # y = m1 * x1 + m2 * x2 + m3 * x3 + b
y

596661.3423356066